<html>
    <head>
        <title>Numbers</title>
        <link rel = "stylesheet" href = "{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <div class="centro"> 
            <h1>Numbers: che numero ho pensato?</h1>
            <p>clicca su un numero per vedere se è quello che ho pensato</p>
        </div>
        <div class="quadrato">
            <div class= "colonna">
                <a href = "/paginarisultato/1"><img src = "{{url_for('static', filename='images/uno.jpg')}}" class="immagine"></a>
                <a href = "/paginarisultato/2"><img src = "{{url_for('static', filename='images/due.jpg')}}" class="immagine"></a>
                <a href = "/paginarisultato/3"><img src = "{{url_for('static', filename='images/tre.jpg')}}" class="immagine"></a>
            </div>
            <div class= "colonna">
                <a href = "/paginarisultato/4"><img src = "{{url_for('static', filename='images/quattro.jpg')}}" class="immagine"></a>
                <a href = "/paginarisultato/5"><img src = "{{url_for('static', filename='images/cinque.jpg')}}" class="immagine"></a>
                <a href = "/paginarisultato/6"><img src = "{{url_for('static', filename='images/sei.jpg')}}" class="immagine"></a>
            </div>
            <div class= "colonna">
                <a href = "/paginarisultato/7"><img src = "{{url_for('static', filename='images/sette.jpg')}}" class="immagine"></a>
                <a href = "/paginarisultato/8"><img src = "{{url_for('static', filename='images/otto.jpg')}}" class="immagine"></a>
                <a href = "/paginarisultato/9"><img src = "{{url_for('static', filename='images/nove.jpg')}}" class="immagine"></a>
            </div>
        </div>
    </body>
</html>